---
const { row } = Astro.props;
import { Image } from "astro:assets";
---

<li class="flex flex-col gap-2 group">
  <a target="_blank" href={`https://gif.land/${row.url}`}>
    <Image
      class="w-full"
      width={row.width}
      height={row.height}
      alt={row.url}
      src={`https://gif.land/${row.url}`}
    />
  </a>
  <div>
    <header class="flex justify-between">
      <p class="text-sm leading-tight truncate" title={row.url}>
        <a target="_blank" href={`https://gif.land/${row.url}`}>
          {row.url}
        </a>
      </p>
      <a
        class="hover:underline underline-offset-2 hover:text-emerald-700 dark:hover:text-emerald-500 text-sm leading-none hidden group-hover:block"
        href={`/info/${row.url}`}
      >
        # <span class="sr-only">Info</span>
      </a>
    </header>
    <p
      class="text-sm leading-tight text-neutral-500 dark:text-neutral-400 mt-0.5"
    >
      Tags:{" "}
      {
        row.tags.split(", ").map((tag, index) => (
          <a href={`/search/${encodeURI(tag)}`} class="hover:underline">
            {tag}
            {index < row.tags.split(", ").length - 1 ? ", " : ""}
          </a>
        ))
      }
    </p>
  </div>
</li>
