---
import { actions } from "astro:actions";
import { Image } from "astro:assets";

const { row, review = false } = Astro.props;
---

<li class="flex flex-col gap-2 group">
  <a target="_blank" href={`https://gif.land/${row.url}`}>
    <Image
      class="w-full"
      width={row.width}
      height={row.height}
      alt={row.url}
      src={`https://gif.land/${row.url}`}
    />
  </a>
  <div>
    <header class="flex justify-between">
      <p class="text-sm leading-tight truncate" title={row.url}>
        <a target="_blank" href={`https://gif.land/${row.url}`}>
          {row.url}
        </a>
      </p>
      <a
        class="hover:underline underline-offset-2 hover:text-emerald-700 dark:hover:text-emerald-500 text-sm leading-none lg:hidden group-hover:block"
        href={`/info/${row.url}/`}
      >
        # <span class="sr-only">Info</span>
      </a>
    </header>
    <p
      class="text-sm leading-tight text-neutral-500 dark:text-neutral-400 mt-0.5"
    >
      Tags:{" "}
      {
        row.tags.split(", ").map((tag: string, index: number) => (
          <a href={`/search/${encodeURI(tag)}`} class="hover:underline">
            {`${tag}${index < row.tags.split(", ").length - 1 ? ", " : ""}`}
          </a>
        ))
      }
    </p>
    {review && (
      <p
        class="text-sm leading-tight text-neutral-500 dark:text-neutral-400 mt-4"
      >
        Submitted by: {row.author}<br/>
        Source: {row.author}<br/>
        Size: {row.width}x{row.height}px
      </p>
      <div class="flex gap-6 mt-4">
        <form method="POST" action={actions.approveGif}>
          <input type="hidden" name="id" value={row.id} />
          <button type="submit" class="px-2 h-12 pb-px bg-emerald-500 dark:bg-emerald-800 text-white hover:bg-emerald-700 focus:bg-emerald-700 transition-colors flex items-center leading-none rounded-sm">
            Approve
          </button>
        </form>
        <form method="POST" action={actions.deleteGif}>
          <input type="hidden" name="id" value={row.id} />
          <button type="submit" class="px-2 h-12 pb-px bg-red-500 dark:bg-red-800 text-white hover:bg-red-700 focus:bg-red-700 transition-colors flex items-center leading-none rounded-sm">
            Delete
          </button>
        </form>
      </div>
    )}
  </div>
</li>
