---
export const prerender = false;
import { turso } from "../../turso";
import Layout from "../../Layout.astro";
import Item from "../../components/Item.astro";

const { query } = Astro.params;
const { env } = Astro.locals.runtime;
const order = Astro.url.searchParams.get("order") || "newest";

if (!query) {
  return Astro.redirect("/");
}

const decodedQuery = decodeURI(query);
const cleanQuery = decodedQuery.replace(/[^a-zA-Z0-9-\s]/g, "");

const orderQuery =
  order === "alphabetical"
    ? "url ASC"
    : order === "newest"
      ? "created_at DESC"
      : "created_at ASC";

const { rows } = await turso({
  url: env.TURSO_DATABASE_URL,
  authToken: env.TURSO_AUTH_TOKEN,
}).execute({
  sql: `SELECT * FROM favourites WHERE (URL LIKE (:query) OR TAGS LIKE (:query)) AND published = true ORDER BY ${orderQuery}`,
  args: { query: `%${cleanQuery}%` },
});
---

<Layout title={`Search results for: “${cleanQuery}” on`}>
  <p class="mb-8">
    Search results for: <em
      class="bg-yellow-300 ring-2 ring-yellow-300 dark:text-neutral-950"
      >{cleanQuery}</em
    > ordered by <a
      class={`${order === "alphabetical" ? "underline" : "text-neutral-500 hover:underline"}`}
      href="?order=alphabetical">a-z</a
    >, <a
      class={`${order === "newest" ? "underline" : "text-neutral-500 hover:underline"}`}
      href="?order=newest">newest</a
    > or <a
      class={`${order === "oldest" ? "underline" : "text-neutral-500 hover:underline"}`}
      href="?order=oldest">oldest</a
    >
  </p>
  <ul
    class="font-sans grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 xl:grid-cols-5 2xl:grid-cols-7 gap-8 lg:gap-x-4 2xl:gap-8 items-end"
  >
    {rows.map((row, index) => <Item row={row} key={index} />)}
  </ul>
</Layout>
